@using CitricStore.Models
@model List<CartItem>
@{
    ViewBag.Title = "GetCartInfo";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<style>
    .NutThanhToan{
        text-decoration:none;
        color:aliceblue;
    }
    .ThanhVien {
        color: aliceblue;
    }
</style>

<div class="col-lg-5 col-md-11" style="margin:0px auto;">
    <h2 style="text-align: center; color:white">THÔNG TIN GIỎ HÀNG</h2>
    <div style="color:white; font-size:18px;">
        <table class="table table-borderless" style="color:white; text-align:center">
            <thead>
                <tr>
                    <th colspan="2">SẢN PHẨM</th>

                    <th>SỐ LƯỢNG</th>
                    <th>ĐƠN GIÁ</th>
                    <th>THÀNH TIỀN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)

                {
                <tr>
                    <td><img src="~/Images/APP/@product.HinhNen" style="width:50px; height:50px;" /></td>
                    <td>@product.TenUngDung</td>

                    <td>@product.SoLuong</td>
                    <td>@product.DonGia</td>
                    <td>@product.FinalPrice()</td>
                </tr>
                }
                <tr style="font-weight:bold; text-align:right; color:red;">
                    <td colspan="5">Tổng số lượng: @ViewBag.TotalNumber</td>
                    <td colspan="1">Tổng tiền: @ViewBag.TotalPrice</td>
                </tr>
            </tbody>
        </table>
        @if (Session["TaiKhoan"] != null)
        {
            @Html.ActionLink("Thanh toán", "Page_Payment", "Cart", null, new {@class = "NutThanhToan"})
        }
        else
        {
            Console.WriteLine("Vui lòng đăng nhập trước khi thanh toán");
        }

    </div>
    </div>
