@using CitricStore.Models
@{
    ViewBag.Title = "Page_CheckOrder";
    Layout = "~/Views/Shared/_Layout_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
<style>
</style>
<div class="col-lg-5 col-md-11" style="margin:0px auto;">
    <h2 style="text-align: center; color:white">ĐÃ THANH TOÁN THÀNH CÔNG!</h2>
    <hr />
    <h3 style="text-align: center; color:white">THÔNG TIN ĐƠN HÀNG</h3>
    <div style="color:white; font-size:18px;">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th colspan="2">SẢN PHẨM</th>

                    <th>SỐ LƯỢNG</th>
                    <th>ĐƠN GIÁ</th>
                    <th>THÀNH TIỀN</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)

                {
                    <tr>
                        <td>@product.TenUngDung</td>
                        <td><img src="~/Images/APP/@product.HinhNen" /></td>
                        <td>@product.SoLuong</td>
                        <td>@product.DonGia</td>
                        <td>@product.FinalPrice()</td>
                    </tr>
                }
                <tr style="font-weight:bold; text-align:right; color:red;">
                    <td colspan="5">Tổng số lượng: @ViewBag.TotalNumber</td>
                    <td colspan="1">Tổng tiền: @ViewBag.TotalPrice</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 style="text-align: center; color:white">THÔNG TIN THANH TOÁN VÀ NHẬN HÀNG</h3>
    @Html.Action("Page_ShowPayment", "Cart", new { idor = Session["MaOrder"] })



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận đơn hàng" class="btn btn-info" /> |
            @Html.ActionLink("Quay về", "Page_Payment")
        </div>
    }
</div>

