@model IEnumerable<CitricStore.Models.HEDIEUHANH>

@{
    ViewBag.Title = "Tổng Hợp Hệ Điều Hành";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">NHẬP DỮ LIỆU HỆ ĐIỀU HÀNH</h2>
    <h3 style="text-align: center; color: red;">TỔNG HỢP HỆ ĐIỀU HÀNH</h3>

    <p>
        @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                Mã Hệ Điều Hành
            </th>
            <th>
                Tên Hệ Điều Hành
            </th>
            <th>
                Sửa
            </th>
            <th>
                Chi Tiết
            </th>
            <th>
                Xoá
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHDH)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaHDH }, new { @class = "btn btn-success" })
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaHDH }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.ActionLink("Xoá", "Delete", new { id = item.MaHDH }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }

    </table>
</div>