@model CitricStore.Models.GAME

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">NHẬP DỮ LIỆU GAME</h2>
    <h3 style="text-align: center; color: red;">CHI TIẾT GAME</h3>


    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                TÊN GAME
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenGame)
            </dd>

            <dt>
                GIỚI THIỆU
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GioiThieu)
            </dd>

            <dt>
                DUNG LƯỢNG (MB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DungLuong)
            </dd>

            <dt>
                NGÔN NGỮ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NGONNGU.TenNgonNgu)
            </dd>

            <dt>
                HỆ ĐIỀU HÀNH
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HEDIEUHANH.TenHDH)
            </dd>

            <dt>
                LINK TẢI
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LinkTai)
            </dd>

            <dt>
                NGÀY NHẬP
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayCapNhat)
            </dd>

            <dt>
                HÌNH NỀN
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhNen)
            </dd>

            <dt>
                HÌNH CHI TIẾT 1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhCT1)
            </dd>

            <dt>
                HÌNH CHI TIẾT 2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhCT2)
            </dd>

            <dt>
                HÌNH CHI TIẾT 3
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhCT3)
            </dd>

            <dt>
                HÌNH CHI TIẾT 4
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhCT4)
            </dd>

            <dt>
                ĐÁNH GIÁ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DanhGia)
            </dd>

            <dt>
                NHÀ PHÁT HÀNH
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NHAPHATHANH.TenNPH)
            </dd>

            <dt>
                THỂ LOẠI
            </dt>

            <dd>
                @Html.DisplayFor(model => model.THELOAI.TenTheLoai)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaGame }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Quay về trang tổng hợp", "Index")
    </p>
</div>