@model CitricStore.Models.THELOAI

@{
    ViewBag.Title = "Sửa Thể Loại";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />

<div style="margin: 10px auto; width: 90%;">
    <h2 style="text-align: center">NHẬP DỮ LIỆU THỂ LOẠI</h2>
    <h3 style="text-align: center; color: red; ">CHỈNH SỬA THỂ LOẠI</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaTheLoai)

            <div class="form-group">
                TÊN THỂ LOẠI
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenTheLoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenTheLoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-info" /> | @Html.ActionLink("Quay về trang tổng hợp", "Index")
                </div>
            </div>
        </div>
    }
</div>